<div class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="col-sm-5" style="text-align:center">
            <div class="footer-color">
                <img src="../../../assets/images/Logo-White.png" width="220" class="img-fluid" alt="Responsive image">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="footer-color">
                <b>SEDE PRINCIPAL</b> <br>
                Carrera 43 # 31-73 <br>
                Galerias de San Diego <br>
                A cuadra y media del Centro Comercial San Diego <br>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="footer-color">
                <b>CONTÁCTANOS</b> <br>
                Telefono: <br>
                (574) 589 91 83 <br>
                Email: <br>
                info@elcamino.co <br>
            </div>
        </div>
    </div>

    <div class="row">
        <p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </p>
    </div>

    <div class="container">
        <div class="col-sm-12" style="text-align:center; font-size: small;">
            <div class="footer-color">
                © 2020 Iglesia Cristiana el Camiano. Todos los derechos reservados - Diseñado y desarrollado por equipo
                creativo El Camino 2020
            </div>
        </div>
    </div>
</div>