<div class="card">
    <div class="card-header">
        <h4>Aplicativo de Administración</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Esta aplicación esta desarrolla para realizar toda la administración y manejo de los
            grupos conexión por redes, mentores y grupos.
            <br>
            <br>
            Además permitirá generar informes para consolidar la información y ver el crecimiento de la iglesia en todos
            sus grupos conexión.

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </h5>
    </div>
</div>